.cartDropdownItem {
    border-bottom: 1px solid $silver;
    position: relative;
}

.cartDropdownItem__item {
    padding: $s-size;
    display: flex;
    max-height: 150px;

    &:hover {
        cursor: pointer;
        color: $blue;
    }
}

.cartDropdownItem__img {
    max-height: 150px;
}

.cartDropdownItem__desc-brand {
    text-transform: uppercase;
    font-weight: 700;
}


.cartDropdownItem__delete {
    position: absolute;
    right: 20px;
    z-index: 2;
    bottom: 12px;
}
