.cartItem {
    background-color: $off-white;
    padding: $l-size;
    display: flex;
    margin: $m-size 0;
}

.cartItem__img {
    max-height: 150px;
}

.cartItem__description{
    flex-grow: 1;
    padding: $m-size;
}

.cartItem__button {
    border: none;
    background-color: inherit;
    font-size: 20px;
    align-self: flex-start;
    cursor: pointer;
}

.cartItem__description-price {
    font-weight: 700;
}

.cartItem__description-brand {
    text-transform: uppercase;
}