.cartSummary {
    background-color: $off-white;
}

.cartSummary__header {  
    text-transform: uppercase;
    font-size: $xl-size;
}

.cartSummary__button {
    background-color: green;
    color: white;
    border: none;
    padding: $s-size;
    cursor: pointer;
}