.cartDropdownItem {
    padding: $s-size;
    display: flex;
    border-bottom: 1px solid $silver;

    &:hover {
        cursor: pointer;
        color: $blue;
    }
}


.cartDropdownItem__img {
    max-height: 150px;
}

// .cartDropdownItem__desc {
//     padding: $s-size;
// }


// .cartDropdownItem__desc {
//     color: $grey    
// }

// .cartDropdownItem__desc-name {
//     margin: 0;
// }

.cartDropdownItem__desc-brand {
    text-transform: uppercase;
    font-weight: 700;
}

