/* Dropdown Button */
.cartIcon__button {
  color: white;
  padding: 10px;
  border: none;
}

.cartIcon {
  position: relative;
  display: inline-block;
}

.cartIcon__dropdown {
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  min-width: 150px;
  right: -20px;
  z-index: 1;
  color: black;

  a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  a:hover {
    background-color: #ddd;
    }
}

.cartIcon__dropdown-header {
  background-color: $light-grey;
  font-size: $m-size;
  font-weight: 700;
  margin: 0;
  padding: $m-size;
  width: 300px;
  span {
    font-weight: 500;
  }
}

.cartIcon__dropdown-itemNo{
  font-weight: 300;
}

.cartIcon:hover {
    cursor:pointer;

    .cartIcon__dropdown {
      transition-delay: 0.5s;
      visibility: visible;
    }
}

.cartIcon__priceSection {
  align-items: center;  
  background-color: $light-grey;
  display: flex;
  justify-content: space-between;
  padding: 0 $m-size;
}

.cartIcon__dropdown-price {
  font-size: $m-size;
  font-weight: 300;
}

.cartIcon__dropdown-buttons {
  background-color: $light-grey;
  display: flex;
  justify-content: space-between;
  padding: $m-size;  
}

.cartIcon__dropdown-button {
  padding: $s-size;
  border: none;
  
  &:hover {
    cursor: pointer;
    opacity: 0.9;

  }
}

.cartIcon__dropdown-viewCart {
  background-color: white;
}

.cartIcon__dropdown-checkout {
  background-color: $green;
  color: white;
}


.cartIcon__border {
  border: 1px solid $off-white;
}