.cartItem {
    background-color: $off-white;
    padding: $l-size;
    display: flex;
    margin-bottom: $m-size;
    justify-content: space-between;
    
}

.cartItem__button {
    border: none;
    background-color: inherit;
    font-size: 20px;
    align-self: flex-start;
    cursor: pointer;

}

.cartItem__description{
    padding: $m-size;
    flex-grow: 2;
}

.cartItem__description-name {
    text-transform: capitalize;
}
.cartItem__description-price {
    font-weight: 300;
}

.cartItem__description-brand {
    text-transform: uppercase;
    font-weight: 700;
}

.cartItem__item {
    display: flex;
    cursor: pointer;
    flex-grow: 2;
}

.cartItem__img {
    max-height: 150px;
}