.cartSummary {
    background-color: $off-white;
    padding: $m-size;
}

.cartSummary__header {  
    text-transform: uppercase;
    font-size: $xl-size;
    margin: 0;
}

.cartSummary__button {
    background-color: $dark-green;
    color: white;
    border: none;
    padding: $s-size;
    cursor: pointer;
}

.cartSummary__promoCode {
    margin: $m-size 0;
    display :flex;
}

.cartSummary__promoCode-label {
    font-weight: 300;
    font-size: $m-size;
    margin: $s-size;
}
.cartSummary__promoCode-input {    
    border: 2px solid $silver;
    border-radius: 0px;
    border-right: none;
    font-size: $m-size;
    max-width: 150px;
    padding: $xs-size;

}

.cartSummary__promoCode-button {
    background-color: $dark-green;
    border: none;
    color: white;
    cursor: pointer;
    font-size: $m-size;
    padding: 10px;
    
}
.cartSummary__delivery {
    display: flex;
    justify-content: space-between;
}

.cartSummary__delivery-label {
    font-weight: 300;
    font-size: $m-size;
    margin: $s-size;
}

.cartSummary__delivery-options {
    padding: $xs-size;
}