.filterCategoryHead {
    border: 1px solid white;
}


.filterCategoryHead__content {
display: none;


}

.filterCategoryHead__button {
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: $m-size;
    font-weight: 300;
    padding: $xs-size;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.filterCategoryHead__contentShow {
    display: block;
}

