.filterCategoryHead {
    border: 1px solid black;
}

.filterCategoryHead__content {
    display: none;
    
}

.filterCategoryHead__button {
    border: none;
    background-color: black;
    color: white;
    font-size: $m-size;
    text-align: left;
    width: 100%;
}

.filterCategoryHead__contentShow {
    display: block;
}