.filterCategoryHead {
    border: 1px solid white;
}

.filterCategoryHead p {
    border: 1px solid black;
    padding: $xs-size;
    margin: 0;
}


.filterCategoryHead__content {
    display: none;
    
}

.filterCategoryHead__button {
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: $m-size;
    font-weight: 300;
    text-align: left;
    padding: $xs-size;
    width: 100%;
}

.filterCategoryHead__contentShow {
    display: block;
}