.filterCategoryItem {
    margin: $xs-size;
    display: flex;

}

.filterCateogryItem__checkbox {
    align-items: center;
    margin-right: $xs-size;
}


.filterCateogryItem__label {
    font-size: $s-size;
}
