.footerSection__name {
    color: $dark-blue;
    margin: $s-size 0;
}

.footerSection__link {
    font-size: $s-size;
    color: $grey;
    margin: $s-size 0 ;
}

.footerSection__link:hover {
    cursor: pointer;
}

.footerSection__email-input {
    border: none;
    font-size: $m-size;
    padding: 7px;
}

.footerSection__email-button {
    background-color: $blue;
    border: none;
    color: white;
    font-size: $m-size;
    padding: 7px 10px;

}

