.headerCategoryButton__button {
    margin: 0;
    padding: 8px 16px;
    font-weight: 300;
    cursor: pointer; 
    
    &:hover {
        background-color: $blue;
        color: white;
    }
}


.headerCategoryButton__dropdown {
    visibility: hidden;
}