.indexCategory {
    width: 280px;
    height: 280px;
    position: relative;
}

.indexCategory__name {
    background: $black-before;
    color: white;
    cursor: pointer;
    font-weight: 100;
    height: 100%;
    line-height: 280px;
    text-transform: uppercase;
    text-align: center;
    top: 0;
    position: absolute;
    width: 100%;
    margin: 0;
    transition: background 0.3s;
    
    &:hover {
        background: $black-hover;
        font-size: 3.5rem;
    }
}

