.indexCarousel {
    overflow:hidden;
    background-color: red;
}

.indexCarousel__inner {
    white-space: nowrap;
    transition: transform 0.3s;
}

.indexCarouselItem {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}