.indexTrendingBanners {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.indexTrendingBanner {
    margin: $standard-margin 0;
    font-size: $m-size;
    cursor: pointer;
}

.indexTrendingBanner__title {
    font-size: $l-size;
}

.indexTrendingBanner__text {
    font-size: $m-size;
}

.indexTrendingBanner__button {
    border: 3px solid black;
    background-color: $light-blue;
    font-size: $m-size;
    padding: $s-size $m-size;

    &:hover {
        transition: 0.5s;
        background-color: $dark-blue;
        color: white;
        cursor: pointer;
    }
}