.indexLargeBanner {
    background-color: $red;
    border: 10px solid $orange;
    text-align: center;
    padding: $l-size 0;
    cursor: pointer;
}

.indexLargeBanner__title {
    color: white;
    font-size: $l-size;
    text-transform: uppercase;
}

.indexLargeBanner__text {
    color: white;
    font-size: $m-size;
}

.indexLargeBanner__button {
    color: white;
    background-color: $red;
    border: 3px solid white;
    padding: $s-size;
    cursor: pointer;
    &:hover {
        background-color: $orange;
        transition: 0.3s;
        color: white;
        border-color: white;
    }
}