.indexCarousel {
    overflow:hidden;
    padding-top: 20px;
    position: relative;
}

.indexCarousel__inner {
    white-space: nowrap;
    transition: transform 0.3s;
}

.indexCarouselItem {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.indexCarousel__buttonLeft {
    position: absolute;
    display: block;
    top: 30px;
}

.indexCarousel__buttonRight {
    position: absolute;
    display: block;
    right: 50px;
    top: 30px;
}

