.indexSustainabilityBanner {
    display: flex;
    margin-bottom: $standard-margin;
}

.indexSustainabilityBanner__left {
    background-color: $off-white;
    color: $dark-blue;
    min-width: 50%;
}

.indexSustainabilityBanner__right {
    min-width: 50%;
    background-color: $dark-blue;
    color: $off-white;
}