.itemDescriptionBox {
    margin: $m-size;
    max-width: 20em;

}

.itemDescriptionBox__brand {
    font-size: $xl-size;
    font-weight: 700;
    text-transform: uppercase;
}

.itemDescriptionBox__itemName {
    font-size: $l-size;
    font-weight: 300;
}

.itemDescriptionBox__price {
    font-size: $l-size;
    font-weight: 300;
}

.itemDescriptionBox__description {
    font-size: $m-size;
    font-weight: 300;
}

.itemDescriptionBox__button {
    border: none;
    background-color: green;
    font-size: $m-size;
    color: $off-white;
    padding: $s-size $l-size;
}