.login {
    text-align: center;
    max-width: 550px;
    margin: auto;
}

.login__logo {
    display: flex;
    justify-content: center;
}

.login__logo-text {
    border: 3px solid black;
    border-radius: 25%;
    font-weight: 700;
    margin: 0;
    padding: 5px 15px;
}

.login__form {
    max-width: 400px;
    margin: auto;
}

.login__email-header, .login__password-header {
    text-align: left;
    font-weight: 700;

}

.login__email-input, .login__password-input {
    padding: $s-size;
    font-size: $m-size;
    width: 100%;
}
