.login {
    min-height: 100vh;
    min-width: 100vw;
    background-color: $silver;
}

.login__component {
    text-align: center;
    max-width: 600px;
    margin: auto;
    background-color: white
}

.login__input{
    padding: $s-size 0;
}
.login__input-header{
    text-align: left;
    font-weight: 700;
    margin: 0;
    padding-bottom: $xs-size;
}

.login__input-input {
    padding: $s-size;
    font-size: $m-size;
    width: 92%;
}

.login__input-options {
    display: flex;
    justify-content: space-between;
    padding: $xs-size 0;
}

.login__input-options-checkbox {
    padding: $s-size;
    cursor: pointer;
    font-size: $l-size;
}

.login__input-options-header {
    font-weight: 700;
}

.login__input-displayText {
    color: $grey;
    font-size: $s-size;
    margin: $xs-size 0 0 0;
    text-align: left;
}


.login__forgotPassword {
    cursor: pointer;
    margin: 0;
    padding: $m-size;
}

.login__form {
    padding: $l-size 0;
    max-width: 400px;
    margin: auto;
}


.login__header {
    padding: 40px 0;
    text-align: center;
}

.login__header-text {
    margin: 0;
}

.login__header-logo {
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.login__header-logo-text {
    border: 3px solid black;
    border-radius: 25%;
    cursor: pointer;
    font-weight: 700;
    margin: 0;
    padding: 5px 15px;
}

.login__button {
    background-color: black;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-weight: 700;
    margin: $m-size 0;
    padding: $s-size;
    width: 100%;
    &:hover {
        background-color: $dark-blue;
    }
} 