.loginLinks {
    display: flex;
    justify-content: space-around;
}


.loginLinks__login, .loginLinks__signUp {
    cursor: pointer;
    font-size: $l-size;
    margin: 0;
    padding: $m-size;
    width: 100%;
    // &:hover {
    //     background-color: $light-grey;
    // }
}

.loginLinks__active {
    border-bottom: 2px solid blue;
    &:hover {
        background-color: none;
    }
}

.loginLinks__hover {
    &:hover { 
            background-color: $light-grey;
    }

}