.loginLinks {
    display: flex;
    justify-content: space-around;
}

.loginLinks__container {
    flex-grow: 1;
    padding: $m-size 0;
}

.loginLinks__login, .loginLinks__signUp {
    cursor: pointer;
    font-size: $m-size;
    font-weight: 700;
    margin: 0;
    width: 100%;

    &:hover {
        color: $grey;
    }
}

.loginLinks__signUp {
    border-right: 1px solid grey;
}

.loginLinks__active {
    border-bottom: 2px solid $blue;
    &:hover {
        background-color: none;
    }
}
