.order {
    background-color: $light-grey;
    padding: $s-size;
    margin-top: $m-size;
}

.order__header {
    text-align: center;
}

.order__components {
    display: flex;
    justify-content: space-between;
}

.order__left {
    flex-grow: 2;
}