.order {
    padding: $s-size;
    margin-top: $m-size;
    max-width: 1000px;
}

.order__header {
    text-align: center;
    background-color: $light-grey;
    margin-bottom: $xs-size;
    padding: $m-size;
}

.order__components {
    background-color: $light-grey;
}

.order__topComponents {
    display: flex;
    justify-content: space-between;
}

.order__topComponents-reference {
    margin: 0;
    padding: $s-size;
}

.order__topComponents-itemNo {
    margin: 0;
    padding: $s-size;
}

.order__pricing {
    display: flex;
    justify-content: flex-end;
    padding: $s-size 0;
}

.order__pricing-text {
    margin: 0;
}


.order__pricing-textPrice {
    margin: 0;
}

.order__prices {
    border-top: 1px solid white;

}

.order__button {
    border: none;
    background-color: $dark-green;
    color: $off-white;
    display: flex;
    font-size: $l-size;
    padding: $xs-size;
    margin: auto;

    &:hover{ 
        background-color: $green;
        cursor: pointer;
    }

    
}