.passwordInput {
    border: 1px solid black;
    display: flex;

    &:focus-within {
        border: 1px solid $blue;
        outline: 1px solid $blue;
    }
}



.passwordInput__input {
    border: none;
    
    &:focus {
        outline: none;
        border: none;
    }

}

.passwordInput__button {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    display: none;
    font-weight: 700;
    font-size: $s-size;
    padding: 0 $xs-size;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.passwordInput__button-show {
    display: block;
}
