.searchSortingBar {
    background-color: $off-white;
    display: flex;
    justify-content: space-between;
    padding: $s-size $l-size;
    margin-top: 20px;
}


.sortBy__label {
    margin-right: $m-size;
}

.sortBy__select {
    padding: $s-size;
}