.searchBar {
    position: relative;
    min-width: 60%;

}

.searchBar__form {
    display: flex;
}


.searchBar__input {
    border: none;
    padding: $s-size;
    width: 90%;


    &:focus {
        border: 1px solid $silver;
    }
}

.searchBar__input:focus {
    outline-width: 0;

}

.searchBar__button {
    background-color: $blue;
    border: none;
    padding: $xs-size $m-size;
    color: white;
    width: 10%;
    &:hover {
        cursor: pointer;
    }
}