.signInBar {
    background-color: black;
}

.signInBar__content {
    display: flex;
    justify-content: space-between;
    padding: 5px 0 ;
}

.signInBar__left {
    display: flex;
    justify-content: flex-start;
}

.signInBar__right {
    display: flex;
    justify-content: flex-end;
}

.signInBar__link {
    color: white;
    font-size: $s-size;
    margin: 0;
    border-left: 1px solid white;
    padding: 0 10px;    
    &:hover {
        cursor: pointer
    }
    &:first-child {
        border-left: none;
    }
}
