.user {
    margin-top: $standard-margin;
    margin-bottom: $standard-margin;
}

.user__header {
    font-size: $xl-size;
    text-align: center;
}

.user__main {
    display: flex;
    justify-content: space-between;
}

.user__menu {
    min-width: 30%;
    border: 1px solid black;
    border-bottom: none;
    margin-right: $xl-size;
    
}

.user__menu-header {
    background-color: $silver;
    font-size: $l-size;
    font-weight: 300;
    padding: $m-size;
    span {
        display: block;
        font-weight: 700;
    }
}

.user__category {
    display:block;
    width: 100%;
    text-align: left;
    background: none;
    border:none;
    border-bottom: 1px solid black;
    cursor: pointer;
    padding: $s-size;


    &:hover {
        text-decoration: underline;
    }
}

.user__category-icon {
    margin: auto 5px;
}

.user__content {
    flex-grow: 1;
}

.user__content-header {
    background-color: $silver;
    padding: $xl-size;
    margin-bottom: $l-size;
}

.user__content-header-icon {
    margin: 0;
    margin-bottom: $m-size;
}

.user__content-header-text {
    font-size: $xl-size;
    margin: 0;
}