// Colours
$black-before:  rgba(0,0,0,0.2);
$black-hover: rgba(0,0,0,0.4);
$blue: #3F72AF;
$dark-blue: #112D4E;
$dark-green: #1AA602;
$green: #1DB502;
$grey: #7D7A7D;
$light-blue: #DBE2EF;
$off-white: #F9F7F7;
$orange: #FFA934;
$red: #F03A09;

// Sizing 
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2rem;
$xl-size: 3rem;
$standard-margin: 40px;
